page-about {}

// adding some styling tot the image-display
.profile-view__image-container {
    background: rgb(153, 153, 153);
    height: 220px;
}

.profile-view__image {
    padding-top: 20px;
    height: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
}

// This app was made by Petteri Vaskin 1600373