page-login {}

ion-card ion-row {
    padding: 10px;
    float: right;
    button {
        margin: 0 auto;
        display: block;
    }
}

.logo {
    margin: 0 auto;
    display: block;
    height: 150px;
}

// This app was made by Petteri Vaskin 1600373